*.pt
*.pth

/data

/mmsegmentation/pretrain
/mmsegmentation/work_dirs
/mmsegmentation/configs/metacaf
/mmsegmentation/train_debug.sh
/mmsegmentation/train_metacaf.sh
/mmsegmentation/eval_all.py
/mmsegmentation/eval_all.sh
/mmsegmentation/test_metacaf.sh
/mmsegmentation/debug.py
/mmsegmentation/.git


deployment/pal4vst/swin-large_upernet_unified_512x512/end2end.pt
/mmdeploy/.git

copy_files_from_AdobePAL.sh

/data

